{% extends "::base.html.twig" %}
{% block body %}
    <div class="container header-background" >
        <div class="row text-center ">
            <div class="col-md-12 padding0">

                    <h2 class="header-title-style"> Muziejų populiarinimo projektas </h2>

            </div>
        </div>
        <div class="row ">

            <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
                <div class="panel panel-default border-radius0">
                    <div class="panel-heading text-center panel-background">
                        <strong class=""> Įveskite prisijungimo duomenis </strong>
                    </div>
                    <div class="panel-body">
                        <form role="form" action="{{ path("fos_user_security_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.generateCsrfToken('authenticate') }}" />

                            <div class="form-group input-group">  <!-- class="fa fa-tag"  -->
                                <span class="input-group-addon "><i   ></i></span>
                                <input type="text" class="form-control" name="_username" required="required" placeholder="Vartotojo vardas">
                            </div>
                            <div class="form-group input-group">  <!--       class="fa fa-lock"                 -->
                                <span class="input-group-addon"><i  ></i></span>
                                <input type="password" class="form-control" name="_password" required="required" placeholder="Slaptažodis">
                            </div>
                            <div class="form-group">
                                            <span class="pull-right">
                                                   <a href="{{ path('fos_user_resetting_request') }}">(Pamiršau slaptažodį ☹)</a>
                                            </span>
                            </div>

                            <button type="submit" class="btn btn-danger square-btn-adjust">Prisijungti</button>
                            <hr />

                            <div class="text-center">
                                <a href="{{ path('meridian_core_demo_default') }}" class="btn btn-danger square-btn-adjust "> Išbandyk demo versiją! </a>
                            </div>

                            <div class="text-center margin-top15">
                                <a href="{{ path("fos_user_registration_register") }}" > Registracija </a>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>





{% endblock %}

