{% extends "::base.html.twig" %}
{% block body %}
{{ form_start(form) }}
    {{ form_errors(form) }}

   <div style="background: red;"> {{ form_row(form.question) }} </div>
    {{ form_row(form.image) }}
    {{ form_row(form.description) }}
{{ form_end(form) }}
{% endblock %}