{% extends "::userbase.html.twig" %}
{% block title %} Naujos Parodos {% endblock %}
{% block body %}
    <div class="dropdown">
        {{ form(form) }}
    </div>
    <div class="expo">
        {% for expo in expos %}
            <div class="expo-group">
                <p>{{ expo.name }}</p>

                <p>{{ expo.address }}</p>

                <p>{{ expo.time }}</p>
                <a href="{{ expo.link }}">Išsamiau ></a>
                <hr>
            </div>
        {% endfor %}
    </div>

{% endblock %}