{% extends "::userbase.html.twig" %}
{% block title %} Naujos Parodos {% endblock %}
{% block body %}

        <div id="content">
            <ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
                {% for city in cities %}
                    <li><a href="#{{ city.city }}" data-toggle="tab">{{ city.city }}</a></li>
                {% endfor %}
            </ul>
            <div id="my-tab-content" class="tab-content">
                {% for city in cities %}
                    <div class="tab-pane active" id="{{ city.city }}">
                        <h1>{{ city.city }}</h1>
                        {% for expo in expos %}
                            {% if expo.city == city.city %}
                                <div class="expo-group">
                                    {% if expo.picture != ''%}
                                        <img src='{{ expo.picture }}' style="width: 10%; height: 10%; float: left; position: relative;"/>
                                    {% endif %}
                                    <div class="expo-text">
                                        <p>{{ expo.name }}</p>
                                        <p>{{ expo.address }}</p>
                                        <p>{{ expo.time }}</p>

                                        <a href="{{ expo.link }}">Išsamiau ></a>
                                    </div>

                                    <hr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>


        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#tabs').tab();
            });
        </script>
{% endblock %}