{% extends "::userbase.html.twig" %}
{% block body %}
    <h1>Tu esi {{ level }} lygį ir turi {{ scores }} taškus</h1>
   <h1> {{ game }}</h1>
  <h1>Klausimas:  {{ question }}</h1>
    {{ form(answerForm) }}
{% endblock %}