{% extends "::userbase.html.twig" %}
{% block body %}
  <h1>Tu pasiekei {{ level }} lygį ir turi {{ scores }} taškus.</h1>
  <h2> „{{ game }}”</h2>
  <h2 class="question">{{ question }}</h2>
    {#{{ form(answerForm) }}#}


        <form name="demo"  {{ form_enctype(answerForm) }} method="POST" action="">
            {#{{ form_label(answerForm.Atsakymas, '') }}#}
            {{ form_errors(answerForm) }}
            {{ form_widget(answerForm.Atsakymas, {'attr': {'class': 'form-control whitespace-bottom width300', 'placeholder': "Atsakymas" }} ) }}
            {{ form_widget(answerForm.Siųsti, {'attr': {'class': 'btn btn-danger square-btn-adjust' }} ) }}

            {{ form_rest(answerForm) }}
            {{ form_end(answerForm) }}
        </form>

{% endblock %}