{% extends "::admin.html.twig" %}
{% block body %}
    <h1 class="text-center">Klausimai-atsakymai</h1>
    <hr>
    <div class="container">
        <table class="table table-bordered">
            <tr>
                <th>ID</th>
                <th>Klausimas</th>
                <th>Aprašymas</th>
                <th>Nuotrauka</th>
                <th>Atsakymo ID</th>
                <th>Redaguoti</th>
                <th>Trinti</th>
            </tr>
            {% for item in q4 %}
                <tr>
                    <td>{{ item.id }}</td>
                    <td>{{ item.question }}</td>
                    <td>{{ item.description }}</td>
                    <td>{{ item.image }}</td>
                    <td><a href="{{ path('meridian_core_answer_edit',{'id': item.answerId}) }}">{{ item.answerId }}</a></td>
                    <td><a href="{{ path('meridian_core_question_edit',{'id': item.id}) }}">Edit</a></td>
                    <td><a href="{{ path('meridian_core_question_remove',{'id': item.id}) }}">Delete</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
        <hr>
        <div>
            <a class="btn btn-danger square-btn-adjust" href="{{ path('meridian_core_form') }}">Naujas klausimas</a>
        </div>
{% endblock %}