{% trans_default_domain 'FOSUserBundle' %}
<div class="col-md-offset-2 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
    <div class="panel panel-default border-radius0">
        <div class="panel-heading text-center panel-background">
            <strong> Profilio redagavimas </strong>
        </div>
        <div class="panel-body">
            <form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">

                {#{{ form_widget(form) }}#}
                {{ form_label(form.username) }}
                {{ form_errors(form) }}
                {{ form_widget(form.username, {'attr': {'class': 'form-control whitespace-bottom', 'placeholder': "Vartotojo vardas" }} ) }}

                {{ form_label(form.email) }}
                {{ form_widget(form.email, {'attr': {'class': 'form-control whitespace-bottom', 'placeholder': "E-paštas"}} )}}
                {{ form_errors(form.email) }}

                {{ form_label(form.current_password) }}
                {{ form_widget(form.current_password, {'attr': {'class': 'form-control whitespace-bottom', 'placeholder': "Dabartinis slaptažodis"}} )}}

                {{ form_label(form.profilePictureFile) }}
                {{ form_widget(form.profilePictureFile) }}

                {{ form_rest(form) }}
                {#<div>#}
                <input class="btn btn-danger square-btn-adjust border-radius0" type="submit" value="{{ 'profile.edit.submit'|trans }}" />
                {#</div>#}
            </form>
        </div>
    </div>
</div>