<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <!-- BOOTSTRAP STYLES-->
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">

        <!-- FONTAWESOME STYLES-->
        <link href="{{ asset('assets/css/font-awesome.css') }}" rel="stylesheet">
        <!-- CUSTOM STYLES-->
        <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">
        <!-- GOOGLE FONTS-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>


    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body>
{% for flashMessage in app.session.flashbag.get('msg') %}
    <div>{{ flashMessage }}</div>
{% endfor %}
{% block body %}{% endblock %}
{% block javascripts %}
    <!-- JQUERY SCRIPTS -->
    <script src="{{ asset('assets/js/jquery-1.10.2.js') }}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>