{% extends '::admin.html.twig' %}

{% block body -%}
    <h1>Expo list</h1>
    <a href="{{ path('expo_update') }}">Atnaujinti parodas</a>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
                <th>Time</th>
                <th>Link</th>
                <th>City</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_expo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.address }}</td>
                <td>{{ entity.time }}</td>
                <td>{{ entity.link }}</td>
                <td>{{ entity.city }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_expo_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_expo_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_expo_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
