    {% for score in scores %}
    <div class="scores-wrapper">
        {{ score.getUsername }}
        {% if score.getProfilePicturePath is null%}
            {% if score.getUsername == app.user %}
                <img src="{{ asset('images/find_user.png') }}" alt="image" class="scores-image size40">
                <span>{{ score.getScores }}</span>
            {% else %}
                <img src="{{ asset('images/find_user.png') }}" alt="image" class="scores-image-default size40">
                <span>{{ score.getScores }}</span>
                {% endif %}
        {% else %}
            {% if score.getUsername == app.user %}
                <img src="{{ asset('uploads/user/profilepics/'~score.getProfilePicturePath) }}" alt="image" class="scores-image size40">
                <span>{{ score.getScores }}</span>
                {% else %}
                    <img src="{{ asset('uploads/user/profilepics/'~score.getProfilePicturePath) }}" alt="image" class="scores-image-default size40">
                    <span>{{ score.getScores }}</span>
                {% endif %}
        {% endif %}
    </div>
    {% endfor %}
