{% extends '::admin.html.twig' %}
{% block title %} Administratoriaus puslapis {% endblock %}
    {% block stylesheets %}
        <!-- GOOGLE FONTS-->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'/>
        <!-- FONTAWESOME STYLES-->
        <link href="{{ asset('assets/css/font-awesome.css') }}" rel="stylesheet">
        <!-- BOOTSTRAP STYLES-->
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
        <!-- CUSTOM STYLES-->
        <link href="{{ asset('assets/css/custom.css') }}" rel="stylesheet">
    {% endblock %}

{% block body %}
    <h1 class="text-center"> Sveikas, administratoriau {{ app.user }}.</h1>
    <hr>
    <div class="container">
        <div class="text-center">
        <div class="text-left">
            <ul>
                <li><a class="whitespace-bottom" href="{{ path("admin_new_game") }}">Kurti naujus žaidimus.</a></li>
                <li><a class="whitespace-bottom" href="{{ path("admin_show_all_games") }}">Peržiūrėti visus žaidimus.</a></li>
                <li><a class="whitespace-bottom" href="{{ path("admin_expo") }}">Peržiūrėti naujas parodas.</a></li>
            </ul>
        </div>
        </div>
    </div>
    <hr>
        <div class="text-center">
            <a class="btn btn-danger square-btn-adjust border-radius0 whitespace-bottom" href="{{ path("admin_logout") }}">Atsijungti</a>
        </div>
{% endblock %}