{% extends '::admin.html.twig' %}

{% block body %}

    <h1 class="text-center">Žaidimų sąrašas</h1>
        <hr>
    <div class=" text-center">
        <div class="text-left">
        <ul class="bullet-no">
            {% for game in games %}
                <li>
                    {{ game.name }} -
                    <a class="btn btn-success square-btn-adjust border-radius0 whitespace-bottom" href="{{ path('admin_show_game', {'id': game.id}) }}">Peržiūrėti žaidimą</a>
                    <a class="btn btn-success square-btn-adjust border-radius0 whitespace-bottom" href="{{ path('admin_edit_game', {'id': game.id}) }}">Redaguoti</a>
                    <a class="btn btn-success square-btn-adjust border-radius0 whitespace-bottom" href="{{ path('admin_delete_game',{'id': game.id}) }}">Trinti žaidimą</a>
                </li>
            {% endfor %}
        </ul>
        </div>
        <hr>
        <a class="btn btn-danger square-btn-adjust border-radius0 text-center" href="{{ path('admin_home_page') }}">Grįžti atgal</a>
    </div>
{% endblock %}